version: "3.6"
services:
  app-service:
    build: ./service/app
    container_name: app-service
    ports:
      - "4002:4002"
    environment:
      NODE_ENV: "production"
  user-service:
    build: ./service/user
    container_name: user-service
    ports:
      - "4001:4001"
  orchestrator-service:
    build: ./orchestrator
    container_name: orchestrator
    ports:
      - "80:4000"
